@{
    ViewData["Title"] = "Home Page";
}

<head>
    <div class="text-center">
        <h1 class="display-4">Welcome~</h1>
    </div>
</head>
<body>
    <div style="text-align:center">
        <form class="form_login ">
            <label for="username">User Name:</label>
            <input type="text" id="username" /><br /><br />
            <label for="password">Password:</label>
            <input for="text" id="password" /><br /><br />
            <input type="submit" value="Login" />
        </form>
    </div>
    
</body>

