@{
    ViewData["Title"] = "Home Page";
}

<head>
    
</head>
<body>
    <div style="text-align:center">
        <form class="form_login ">
            <label for="username">User Name:</label>
            <input type="text" id="username" /><br /><br />
            <label for="password">Password:</label>
            <input for="text" id="password" /><br /><br />
            <input type="submit" value="Login" />
            <h1>Hi darrrell bii</h1>
        </form>
    </div>
    
</body>

